body {
    background-color: gray;
}

.jumbo {
    color: white;
}

.card {
    background-image: linear-gradient(to bottom right, rgb(114, 109, 109), rgb(236, 236, 214));
}

.tattoo {
    aspect-ratio: 1 / 1;
}

.footer {
    color: white;
    height: 50px;
}
